.features {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

}
.features-list {
  margin-top: auto;
  margin-bottom: auto;
  .features-item {
    position: relative;
    padding: 90px 0 50px;
    .item-title {
    }
    .item-descript {
      color: #6c7279;
    }
    &:nth-child(n+3){
      padding-bottom: 0;
    }
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      height:60px;
      background-image: url('../img/css-sprite-combined.3.png');
    }
    &:first-child::before {
      background-position: -143px 0;
      width:60px;
      margin-left: -30px;
   }
    &:nth-child(2)::before {
      background-position: -412px 0;
      width: 73px;
      margin-left: -36px;
    }
    &:nth-child(3)::before {
      background-position: -282px 0;
      width:41px;
      margin-left: -21px;
    }
    &:nth-child(4)::before {
      background-position: -5px 0;
      width: 56px;
      margin-left: -28px;
    }
    &:nth-child(5)::before {
      background-position: -66px 0;
      width: 72px;
      margin-left: -36px;
    }
    &:last-child::before {
      background-position: -328px 0;
      width: 79px;
      margin-left: -40px;
    }
  }
}
@media (max-width: 720px) {
  .features-item  p{
  padding: 20px;
  }
}