.pop-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100; }
.pop-wrapper.active {
  display: block; }
.pop-wrapper .pop-img {
  position: relative;
  height: 90vh;
  top: 50%;
  left: 50%;
  width: 70%;
  border: 5px solid white;
  transform: translateX(-50%) translateY(-50%);
  outline: hidden;
}
.pop-wrapper .pop-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.pop-wrapper .pop-img .pop-icon {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white; }
.pop-wrapper .pop-img .pop-icon i {
  font-size: 20px; }
