.page-button {
  Height: 45px;
  padding: 0 50px;
  background: $page-red;
  color: $page-white;
  border: none;
  text-transform: uppercase;
  display: inline-block;
}
.item-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
