.large-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}
.bolder-text {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.dark-text {
  color: $dark;
}

.item-descript {
 font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.team-posit {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #e84545;
}
.cardo {
  color: #ffffff;
  font-family: 'Cardo', 'Times New Roman', serif;
  font-size: 36px;
  line-height: 42px;
}
